/* global */
body {
  font: 1em helvetica;
}

h1 {
  display: none;
}

h2 {
  font: 1.5em bold;
}

ol {
  list-style: decimal;
  margin-left: 2.5em;
}

li {
  line-height: 1.5em;
}

/* feature */

.clearfix {
  clear: both;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: black;
}

nav {
  width: 800px;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  margin-right: 175px;
  margin-top: 30px;
}

nav li:last-child {
  margin-right: 0px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  width: 800px;
  margin: 20px auto;
  margin-top: 100px;
}

.profile {
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}

.about {
  margin-top: 20px;
}

.space-holder {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  float: left;
}

.lists {
  float: left;
  margin-top: 20px;
  margin-right: 100px;
}

.skills {
  margin-right: 0px;
}

.lists li:first-child {
  margin-top: -20px;
}
