header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pic {
  float: left;
}

.pic img {
  max-width: 300px;
  height: auto;
}

.pic figcaption {
  text-align: center;
}

.bio {
  text-align: center;
}

.bio ul {
  list-style-type: none;
}
